@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------*\
  #RESET
\*--------------------*/

a,
img,
span,
button {
  @apply block;
}

html {
  @apply scroll-smooth;
  border: none;
  outline:none;
}

.btn {
  @apply text-white
  font-bold
  uppercase
  tracking-widest
  text-sm
  max-w-max
  rounded-md
  duration-200

  hover:shadow-lg
}

.btn-text {
  @apply text-caf_noir
  ring-butterscotch
  ring-1

  hover:shadow-lg
}
/*--------------------*\
  #REUSED STYLE
\*--------------------*/

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

ion-icon {
  --ionicon-stroke-width: 16px;
}

.img-holder {
  @apply overflow-hidden;
  aspect-ratio: var(--width)/var(--height)
}

.img-cover {
  @apply w-full
  h-full
  object-cover
}

/*--------------------*\
  #COMPONENT STYLE
\*--------------------*/

/*
- Dropdown
*/
.dropdown {
  @apply relative;
}

.dropdown-content {
  @apply px-5
  text-alabaster
  min-w-full
  border-amber_alpha
  border-solid
  border-b
  space-y-1
  text-sm
  transition-all
  duration-200
  ease-inExpo
  h-0
  invisible

  /* responsive for md:1000px screen */
  md:bg-papaya_whip
  md:text-jet
  md:absolute
  md:top-10
  md:-left-10
  md:min-w-[125px]
  md:rounded-md
  md:shadow-sm

  /* responsive for md:1600px screen */
  xxl:text-lg
  xxl:min-w-40;

  clip-path: inset(0 0 100% 0);

}

.dropdown.active .dropdown-content {
  @apply visible
  h-[184px]
  xxl:h-60;

  clip-path: inset(0 0 0 0);

}

.navbar-link:has(~ .dropdown.active) ion-icon{
  @apply rotate-90;
}

.dropdown a {
  @apply transition-colors
  hover:text-butterscotch;
}

/*
  - #SLIDER
  */

.slider {
  @apply relative
  overflow-hidden
  h-[var(--height)]
  w-full
  max-w-full;
}
.third-frame .slider-item {
  @apply absolute
  top-0
  left-0
}
.third-frame .slider-item:nth-child(2){
  @apply left-[0];
}
.third-frame .slider-item:nth-child(3){
  @apply left-[calc(265px_+_20px)];
}
.third-frame .slider-item:nth-child(4){
  @apply left-[calc((265px_+_20px)_*_2)];
}
.third-frame .slider-item:nth-child(5){
  @apply left-[calc((265px_+_20px)_*_3)];
}
.third-frame .slider-item:nth-child(6){
  @apply left-[calc((265px_+_20px)_*_4)];
}
.third-frame .slider-item:nth-child(7){
  @apply left-[calc((265px_+_20px)_*_5)];
}
.third-frame .slider-item:nth-child(8){
  @apply left-[calc((265px_+_20px)_*_6)];
}
.third-frame .slider-item:nth-child(9){
  @apply left-[calc((265px_+_20px)_*_7)];
}
.third-frame .slider-item:nth-child(10){
  @apply left-[calc((265px_+_20px)_*_8)];
}
.third-frame .slider-item:nth-child(1){
  @apply left-[calc((265px_+_20px)_*_-1)];
}


/*--------------------*\
  #HEADER
\*--------------------*/

.header {
  @apply bg-caf_noir
  fixed
  left-0
  top-0
  z-30
  h-20
  w-full
  duration-200
  ease-inExpo

  /* responsive for large screens*/
  lg:bg-transparent;
}

.header.active {
  @apply shadow-shadowDark
  animate-fadeInDown

  /* lg: 1200px screen */
  lg:bg-caf_noir;
}

.header .container {
  /* lg: 1200px screen */
  @apply lg:mx-0
  lg:py-7
  lg:px-7
  lg:w-2/4
  lg:max-w-[calc(100%_-_600px)]

  /* xl: 1400px screen */
  xl:w-full
  xl:max-w-[calc(100%_-_666px)]

  /* xxl: 1400px screen */
  xxl:grid
  xxl:grid-cols-3
  xxl:mx-auto
  xxl:max-w-[1650px];
}

.navbar {
  @apply bg-licorice
  fixed
  right-0
  top-0
  z-50
  h-screen
  w-80
  translate-x-80
  pt-20
  duration-200
  ease-inExpo
  invisible;
}

@media (min-width: 1000px) {
  .navbar {
    all: unset;
  }
}

.navbar.active {
  @apply visible
  translate-x-0;
}

.nav-close-btn {
  @apply text-alabaster
  absolute
  top-5
  right-3
  grid place-items-center
  w-10 h-10
  text-[28px]

  /* responsive for md:1000px screen */
  md:hidden;
}

.navbar-list {
  @apply md:flex
  md:items-center
  md:gap-3

  xl:gap-7;
}

.navbar-link {
  @apply text-alabaster
  border-amber_alpha
  border-solid
  border-b
  px-3
  py-4
  font-bold
  uppercase
  cursor-pointer
  transition-colors

  /* hover */
  hover:text-butterscotch

  /* responsive for md:1000px screen */
  md:border-0
  md:p-0

  /* responsive for md:1600px screen */
  xxl:text-xl;
}

/*
-  cart
 */

.cart-toggler{
  @apply relative
  grid
  h-10
  w-10
  place-items-center
  rounded-full

  /* before */
  before:text-papaya_whip
  before:bg-red
  before:content-['2']
  before:absolute
  before:top-0
  before:right-0
  before:z-10
  before:h-5
  before:w-5
  before:rounded-full
  before:text-sm
  before:font-semibold


  /* responsive for lg:1200 screens*/
  lg:bg-caf_noir
  lg:text-papaya_whip;
}

.cart-modal {
  @apply fixed
  top-24
  right-2
  max-w-72
  z-50
  rounded-lg
  px-2
  py-3
  shadow-[0_-4px_0_#dd9d4cff]
  origin-top
  duration-75
  ease-inExpo
  invisible
  opacity-0

  /* responsive for sm:635 px screens  */
  sm:right-14;
  background: linear-gradient(359deg, #fde6b9, #fff3dcff)
}

.cart-modal.active {
  @apply translate-y-0.5 visible opacity-100;
}

.overlay {
  @apply fixed
  inset-0
  z-40
  ease-inExpo
  duration-75
  invisible
  opacity-0;
}

.overlay.active {
  @apply visible
  opacity-100
  backdrop-blur-sm;
}


/*--------------------*\
  #HEADER
\*--------------------*/

.hero {
  @apply
  /* responsive for lg:1200px screens */
  lg:grid
  lg:grid-cols-2
  lg:items-stretch

  xl:grid-cols-[calc(100%_-_700px)_1fr];
}


.hero .hero-content {
  @apply absolute
  z-10
  top-72
  container
  px-3
  mx-auto
  text-center
  text-white
  overflow-hidden

  /* responsive for md:1000px screens */
  md:top-[22rem]

  lg:relative
  lg:bg-caf_noir
  lg:top-0
  lg:pt-80
  lg:text-left
  lg:ps-8
  lg:mr-8
  lg:ml-auto
  ;


  left: 50%;
  transform: translateX(-50%)
}

.hero .hero-img img{
  @apply w-full
  aspect-[var(--width)/var(--height)]
  object-cover
  h-[1100px];
}
@media(width > 1200) {
  .hero .hero-img img::before {
    display: none;
  }
}
.hero .hero-img{
  @apply
  h-[1100px]
  overflow-hidden
    /* make it darker */
  before:absolute
  before:content-[""]
  before:top-0
  before:left-0
  before:w-full
  before:h-[1100px]
  before:bg-black/70
  before:backdrop-blur-lg

  /* responsive for lg:1200px screens */
  lg:before:hidden;
}
.logos-list{
  @apply grid
  grid-cols-4
  gap-10
  items-center
  mt-8

  md:max-w-[600px]
  md:mx-0
  md:me-auto;
}

/*--------------------*\
  #SECOND_FRAME
\*--------------------*/

.second-frame .grid-container {
  @apply container
  px-3
  sm:px-10
  mx-auto
  grid
  grid-cols-1
  grid-rows-[repeat(5,210px)]
  sm:grid-cols-2 gap-4
  sm:grid-rows-[repeat(3,210px)]
  md:grid-rows-[repeat(3,300px)]
  lg:grid-cols-3
  lg:grid-rows-[repeat(2,300px)]

  /* shadow */
  relative
  sm:before:absolute
  sm:before:bottom-0
  sm:before:left-2/4
  sm:before:-translate-x-2/4
  sm:before:rounded-full
  sm:before:w-[92%]
  sm:before:h-[100%]
  sm:before:-z-10
  sm:before:shadow-[0_0_50px_25px_#00000038];
}

.second-frame .grid-item {
  @apply w-full
  overflow-hidden
  rounded-md;
}

.second-frame .grid-item img{
  @apply object-cover
  w-full
  h-full;
}

/*--------------------*\
  #THIRD_FRAME
\*--------------------*/

.third-frame .slider-item {
  @apply w-[265px]
  duration-200;
  transition:left 0.5s cubic-bezier(0.645, 0.045, 0.354, 1);
}
.slider-item-img {
  @apply w-full
  h-full
  object-cover
  rounded-md

  /* hover */
    duration-[0.5s] ease-linear hover:scale-105;
}

.slider-hover-icons {
@apply absolute
  top-[160px]
  left-1/2
  -translate-x-1/2
  -translate-y-[60%]
  flex
  gap-2
  items-center
  bg-butterscotch_light/90
  px-2
  py-1
  text-white
  font-extrabold
  text-[22px]

  group-hover:-translate-y-[50%]
  ;
}

.third-frame .slider-buttons {
  @apply flex
  w-fit
  mx-auto
  gap-4

  /* responsive for md:1000px screens */
  md:order-1
  md:mb-7
  md:m-0
  md:ms-auto
  md:w-fit
}
.slider-buttons button {
  @apply p-3
  grid
  place-items-center
  items-center
  justify-center
  ring-1
  text-caf_noir
  ring-butterscotch_light
}

.img-wrapper {
  @apply h-[320px]
  relative;
}


/*--------------------*\
  #FORTH_FRAME
\*--------------------*/

.forth-frame .images {
  @apply grid 
  grid-cols-[repeat(3,_minmax(calc(100%_/_3_-_12px),_1fr))] 
  grid-rows-4 
  gap-3

  /* lg:1200px screens */
  lg:grid-cols-[repeat(3,_minmax(calc(65%_/_3_-_12px),_1fr)),34%] 

}

.forth-frame .grid-item {
  @apply overflow-hidden
}

.forth-frame .grid-item img{
  @apply object-cover
  h-full
  w-full
  
  /* hover */
  duration-1000
  hover:scale-105
  ;
}
.forth-frame .grid-item:last-child {
  @apply hidden
  
  /* lg:1200px */
  lg:block
  col-start-4
  row-start-1
  row-span-4
  ;
}

/*--------------------*\
  #FIFTH_FRAME
\*--------------------*/

.fifth-frame .grid-container{
  @apply 
  mt-10
  w-fit
  mx-auto
  grid
  grid-cols-[repeat(2,minmax(50%,_265px))]
  gap-4
  gap-y-6

  /* respnosive for md:1000px screens */
  md:grid-cols-[repeat(3,minmax(calc((100%_-_(265px_+_12px))_/_3),_265px))]

  /* respnosive for md:1000px screens */
  lg:grid-cols-[repeat(5,minmax(19%,_265px))]

}
.fifth-frame .grid-container .grid-item{
  @apply h-fit
}
.fifth-frame .grid-container .grid-item:nth-child(1){
}
.fifth-frame .grid-container .grid-item:nth-child(2){
}
.fifth-frame .grid-container .grid-item:nth-child(3){
  @apply col-span-2
  h-44
  w-full
  rounded-md

  /* md:1000px */
  md:row-start-3
  md:h-52
  
  lg:col-start-4
  lg:row-start-1
  lg:h-[420px]
  

  ;
  
  background-image: URL("../assets/images/off-1.jpg");
  background-repeat: norepeat;
  background-size: cover;

}
.fifth-frame .grid-container .grid-item:nth-child(4){
  @apply col-span-2
  h-44
  w-full
  rounded-md

  md:row-start-4
  md:h-full

  lg:row-start-2
  lg:col-start-1
  lg:h-[420px]
  ;

  background-image: URL("../assets/images/off-2.jpg");
  background-repeat: norepeat;
  background-size: cover;

}
.fifth-frame .grid-container .grid-item:nth-child(5){
}
.fifth-frame .grid-container .grid-item:nth-child(6){
}
.fifth-frame .grid-container .grid-item:nth-child(7){
}
.fifth-frame .grid-container .grid-item:nth-child(8){
  @apply
  md:row-start-4
  lg:row-start-2
}
.fifth-frame .text-wrapper {
  @apply bg-caf_noir/90
  text-white
  w-fit
  p-3
  ms-auto
  me-5
  mt-3
  rounded-md

  md:mt-4
  md:p-5;
}

/*--------------------*\
  #FIFTH_FRAME
\*--------------------*/
.sixth-frame .slider-item {
  @apply absolute
  top-0
  w-full
  duration-1000
  
  /* responsive for sm:1000px screens */
  md:w-[735px]
  md:rounded-md
  md:overflow-hidden
  ;

  transition:left 0.5s cubic-bezier(0.645, 0.045, 0.354, 1);
}

.sixth-frame .slider-item:hover .iamge-wrapper{
  @apply duration-500
  ease-linear
  overflow-hidden;
  transform: scale(1.05);
}

.sixth-frame .slider-item:nth-child(2){
  @apply left-[0];
}
.sixth-frame .slider-item:nth-child(3){
  @apply left-[calc(100%_+_20px)]
  md:left-[calc(735px_+_20px)];
}
.sixth-frame .slider-item:nth-child(4){
  @apply left-[calc((100%_+_20px)_*_2)]
  md:left-[calc((735px_+_20px)_*_2)];
}
.sixth-frame .slider-item:nth-child(1){
  @apply left-[calc(-100%_-_20px)]
  md:-left-[calc(735px_+_20px)];
  .image-wrapper img {
    @apply scale-[2]
    duration-500 
    ease-linear
    transition-transform

    sm:scale-[1];
  }
}
.image-wrapper {
  @apply overflow-hidden;
}

/*--------------------*\
  #FOOTER
\*--------------------*/

.parallex {
  background-image: url("/assets/images/cta-bg.png");
  @apply bg-fixed
  bg-cover
  bg-no-repeat
  bg-bottom
  min-h-[300px]
  
  /* responsive for xl:1400px screens */
  lg:min-h-96;
}

.social-logos a {
  @apply h-7
  w-7
  rounded-full
  bg-caf_noir
  grid
  place-items-center
}
.social-logos a:hover ion-icon {
  @apply duration-150
  ease-in-out
  scale-125
}

.social-logos a ion-icon{
  @apply text-papaya_whip
}